hhtml {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: raleway;
    src: url(typo/raleway.ttf);
}
@font-face {
    font-family: CaviarDreams;
    src: url(typo/CaviarDreams.ttf);
}
@font-face {
    font-family: lie;
    src: url(typo/lie.ttf);
}

@font-face{
    font-family: Learning;
    src: url(typo/LearningCurve.ttf);
}

* {
    font-family: CaviarDreams;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    position : fixed;
    top: 0; 
    justify-content: center;
    font-family:CaviarDreams;
    font-size: 15px;
    z-index:1;
}


#about {
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 221, 221);
}

#about h1 {
    font-family: LearningCurve;
    text-align: center;
    font-size: 140px;
    color: rgb(240,128,128); 

}

#about h2 {
    font-family: CaviarDreams;
    font-size: 40px;
    text-align: center;
}

#about h3 {
    font-family: CaviarDreams;
    text-align: center;
}

#about img {
    height: 50%;
    border-radius:50%;  
    width: 250px; 
    transition: border-radius 0.5s cubic-bezier(0,.98,.52,1);    
}

#about img:hover {
    border-radius:35%;   
}

section {
    min-height: 100%;
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    flex-wrap: wrap;
    align-content: center;
}


#articles {
    background-color: rgb(233, 221, 221);
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#articles h2 {
    font-family: LearningCurve;
    text-align: center;
    font-size: 150px;
    color: rgb(240,128,128); 
    animation: titre 4s linear 0s infinite alternate;
    align-content: space-around;
}

@keyframes titre {
    0% {transform: translateX(-50px) scale(0.0,1.1) 


    }
}

#articles-list {
    display: flex;
    flex-direction: row;
}

#articles h3 {
    font-family: LearningCurve;
    text-align: center;
    font-size: 35px;
}


#articles article {
    position: relative;
    color: white;
    font-family: CaviarDreams;
    letter-spacing: 1px;
    font-size: 10px;
    border: solid 5px white ;
    padding: 3px; 
    text-align: center;
    width: 30%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(0);
    overflow: hidden;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale(1);
    }

article:hover .bg-img {
    filter: grayscale(0);
    transition: all 0.4s ease-in-out;
}





/* Images of articles */ 

#bachelor {background-image: url("img/mac.jpg");}
#office {background-image: url("img/office.jpg");}
#londres {background-image: url("img/londres.jpg");}
#travel {background-image: url("img/PALM.jpg");}

#footer {
    background-color: rgb(233, 221, 221);
}

/* fo mobiles only */
@media only screen and (max-width:600px){
    section{
        flex-direction: column;
    }
    article{
        width:80%;
    }
    #articles-list {
        flex-direction: column;
        width: 80%;
    }
    #articles-list article {
        width: 100%;
    }
    header {
        width: 100%;
        font-size: 10px;
    }

}

/* fo tablets only */
@media only screen and (min-width:600px) and (max-width:768px){
}

/* fo destop only */
@media only screen and (min-width:768px){
}