@font-face {
    font-family : Raleway;
    src: url(fonts/Raleway-ExtraLight.ttf)
}

*{
    font-family: Raleway;
}

section img {
    width: 100%;
}

header h2 {
    color : black;
    font-family: Raleway;
}

footer h1 {
    color : black;
    font-family: Raleway;
}